@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

body
  font-size: 15px
  min-width: 320px
  position: relative
  line-height: 1.6
  font-family: $default-font
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

b, strong
  font-weight: bold

a, a:hover, a:active, a:focus
  color: $accent
  text-decoration: none

a, li, button
  outline: none!important

ul
  list-style-type: none
  padding: 0
  margin-bottom: 0
  li
    padding-left: 36px
    position: relative
    margin-bottom: 5px
    &:before
      content: ''
      position: absolute
      left: 0
      top: 5px
      width: 12px
      height: 12px
      border-radius: 50%
      border: 2px solid $accent

ol
  counter-reset: item
  padding: 0
  margin-bottom: 0
  list-style-type: none
  li
    padding-left: 36px
    position: relative
    margin-bottom: 5px
    &:before
      content: counter(item)'. '
      counter-increment: item
      color: $accent
      position: absolute
      left: 0
      font-weight: 500

.reset-list
  li
    padding-left: 0
    margin-bottom: 0
    &:before
      display: none

P
  margin-bottom: 30px
// ======= END TEMPLATE STYLES =======

.s-white
  background-color: #fff

.s-creamy
  background-color: #f3f7f8

.s-technopark, .s-industry
  padding: 65px 0 35px

.s-team
  padding: 65px 0

h1
  font-size: 35px
  font-weight: 500
  margin-bottom: 25px

h2
  font-size: 28px
  font-weight: 500
  margin-bottom: 15px
  line-height: 1.2

h4
  font-size: 20px
  font-weight: 500
  margin-bottom: 15px
  line-height: 1.2

.section-title
  text-align: center
  h2
    font-size: 30px
    text-transform: uppercase
    font-weight: 700
    margin-bottom: 60px
    display: inline-block
    position: relative
    padding-left: 24px
    line-height: 1.1
    border-left: 4px solid $accent
  &.no-line
    h2
      border: none
      padding-left: 0

.owl-carousel

  position: relative
  .owl-nav
    button.owl-prev, button.owl-next
      +bg-cover
      width: 14px
      height: 24px
    button.owl-prev
      background-image: url('../img/icons/owl-prev-arrow.png')
    button.owl-next
      background-image: url('../img/icons/owl-next-arrow.png')

.section-gallery-wrap
  margin-top: 55px

.gallery-item
  margin-bottom: 30px

.team-img
  margin-top: 55px

//preloader
.preloader
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 10000
  display: flex
  justify-content: center
  align-items: center
  background-color: #fff

.sk-wandering-cubes
  width: 4em
  height: 4em
  position: relative
  margin: auto

.sk-wandering-cubes .sk-cube
  background-color: $accent
  width: 1em
  height: 1em
  position: absolute
  top: 0
  left: 0
  animation: sk-wandering-cubes 1.8s ease-in-out -1.8s infinite both

.sk-wandering-cubes .sk-cube-2
  animation-delay: -0.9s


@-webkit-keyframes sk-wandering-cubes
  0%
    transform: rotate(0deg)

  25%
    transform: translateX(2em) rotate(-90deg) scale(0.5)

  50.1%
    transform: translateX(2em) translateY(2em) rotate(-180deg)

  75%
    transform: translateX(0) translateY(2em) rotate(-270deg) scale(0.5)

  100%
    transform: rotate(-360deg)

@keyframes sk-wandering-cubes
  0%
    transform: rotate(0deg)

  25%
    transform: translateX(2em) rotate(-90deg) scale(0.5)

  50.1%
    transform: translateX(2em) translateY(2em) rotate(-180deg)
  75%
    transform: translateX(0) translateY(2em) rotate(-270deg) scale(0.5)
  100%
    transform: rotate(-360deg)

.alignright
  display: inline
  float: right
  margin-left: 30px

.alignleft
  display: inline
  float: left
  margin-right: 30px

.post-nav
  font-weight: 500
  color: #9cb8c2
  position: relative
  line-height: 1
  +mt(.3s)
  text-decoration: underline
  &:hover
    text-decoration: underline
  &:before
    content: ''
    position: absolute
    +mt(.3s)

.post-prev
  padding-left: 32px
  &:before
    border: 5px solid transparent
    border-right: 10px solid #9cb8c2
    left: -5px
    top: 4px
  &:hover
    &:before
      border-right-color: $accent


.post-next
  float: right
  padding-right: 32px
  position: relative
  top: 3px
  &:before
    border: 5px solid transparent
    border-left: 10px solid #9cb8c2
    right: -5px
    top: 4px
  &:hover
    &:before
      border-left-color: $accent


.posts-nav-wrap
  padding: 30px 0
  border-top: 1px solid #f5f6fa
  border-bottom: 1px solid #f5f6fa

.news-wrap
  margin-top: 45px
  .item-col
    &:last-child
      .news-item
        margin-bottom: 0

.news-item
  margin-bottom: 50px
  &-img
    height: 235px
    +bg-cover
    display: flex
    justify-content: center
    align-items: center
    position: relative
    margin-bottom: 20px
    background-color: #10a0d6
    &:after
      content: ''
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      +mt(.3s)
      background-color: rgba(#000, .4)
      opacity: 0
    .btn
      position: relative
      z-index: 2
      opacity: 0
      &:hover
        background-color: transparent
  &-title
    font-size: 17px
    font-weight: 500
    display: inline-block
    margin-bottom: 10px
    line-height: 1.2
    &:hover
      text-decoration: underline
      margin-bottom: 10px
  &-desc
    font-size: 14px
    max-height: 64px
    overflow: hidden
  &:hover
    .news-item-img
      &:after
        opacity: 1
      .btn
        opacity: 1