@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

body
  font-size: 15px
  min-width: 320px
  position: relative
  line-height: 1.6
  font-family: $default-font
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

b, strong
  font-weight: bold

a, a:hover, a:active, a:focus
  color: $accent
  text-decoration: none

a, li, button
  outline: none!important

ul
  list-style-type: none
  padding: 0
  margin-bottom: 0
  li
    padding-left: 36px
    position: relative
    margin-bottom: 5px
    &:before
      content: ''
      position: absolute
      left: 0
      top: 5px
      width: 12px
      height: 12px
      border-radius: 50%
      border: 2px solid $accent

ol
  counter-reset: item
  padding: 0
  margin-bottom: 0
  li
    padding-left: 36px
    position: relative
    margin-bottom: 5px
    &:before
      content: counter(item)'. '
      counter-increment: item
      color: $accent
      position: absolute
      left: 0
      font-weight: 500

.reset-list
  li
    padding-left: 0
    margin-bottom: 0
    &:before
      display: none

P
  margin-bottom: 30px
// ======= END TEMPLATE STYLES =======

.s-white
  background-color: #fff

.s-creamy
  background-color: #f3f7f8

.s-technopark, .s-industry
  padding: 65px 0 35px

.s-team
  padding: 65px 0

.section-title
  text-align: center
  h2
    font-size: 30px
    text-transform: uppercase
    font-weight: 700
    margin-bottom: 60px
    display: inline-block
    position: relative
    padding-left: 24px
    line-height: 1.1
    border-left: 4px solid $accent
  &.no-line
    h2
      border: none
      padding-left: 0

.owl-carousel

  position: relative
  .owl-nav
    button.owl-prev, button.owl-next
      +bg-cover
      width: 14px
      height: 24px
    button.owl-prev
      background-image: url('../img/icons/owl-prev-arrow.png')
    button.owl-next
      background-image: url('../img/icons/owl-next-arrow.png')

.section-gallery-wrap
  margin-top: 55px

.gallery-item
  margin-bottom: 30px

.team-img
  margin-top: 55px


